.section-how {
  padding: 9.6rem 0;
}
.section-how .step-text-box .step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}
.section-how .step-text-box .step-desctiption {
  font-size: 1.8rem;
  line-height: 1.8;
}
.section-how .step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.section-how .step-img-box .step-img {
  width: 35%;
}
.section-how .step-img-box::before,
.section-how .step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section-how .step-img-box::before {
  width: 60%;
  /* height: 60%; */
  /* 60% of parent's width */
  padding-bottom: 60%;
  background-color: #fdf2e9;
  z-index: -2;
}
.section-how .step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}